

/************  Begin My Code  ************/
*{

}

body {
    position:relative;
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: white;
    width: 100vw;
    position: fixed;
    top:0;
    min-height: 75px;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul li {
    list-style: none;
    display: inline;
    margin: 10px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

h1{
    font-family: 'Shadows Into Light', cursive;
}

h2{
    font-family: 'Raleway', sans-serif;
}

.intro {
    background-color: #4A4F59;
    margin-top: 100px;                     
    margin-left: auto;
    margin-right: auto;
    width: 100vw;           
}

.about {
    background-color: #BFBFBF;                
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 100vw;  

}

.projects {
    background-color: #8C8C8C;                  
    margin-left: auto;
    margin-right: auto;
    width: 100vw;  
    margin-bottom: 0;
}

.cv {
    background-color: #4A4F59;                
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 100vw;  

}

.contact {
    background-color: #8C8C8C;                  
    margin-left: auto;
    margin-right: auto;
    width: 100vw;  
    margin-bottom: 0;
}

.social_logo{
    width: 50px;
    margin: 0;
}

#main_photo{
    width: 40%;
}




/********  FOOTER  ********/

footer{
    background-color: white;
    width: 100vw;
    height: fit-content;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#copyright {
    font-size: 12px;
    font-family: 'Raleway';
}